# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Production builds
frontend/dist/

# Environment variables
.env
backend/.env

# Database SQLite local
backend/prisma/*.db
backend/prisma/*.db-journal

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
.DS_Store
